In [1]:
#import packages
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def parse_row(row):
    row = row.split(".")[0]
    return row

def to_hyperthyroid(row):
    if row != "negative":
        row = "hyperthyroid"
    return row

def to_hypothyroid(row):
    if row != "negative":
        row = "hypothyroid"
    return row

In [3]:
columns = ['age', 'sex', 'on thyroxine', 'query on thyroxine',
       'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH',
       'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',
       'FTI measured', 'FTI', 'TBG measured', 'TBG', 'referral source',
       'category']

In [4]:
hyper_data = pd.read_csv("allhyper.csv", names=columns)
hypo_data = pd.read_csv("allhypo.csv", names=columns)
sick_data = pd.read_csv("sick.csv", names=columns)

In [5]:
hyper_data.columns

Index(['age', 'sex', 'on thyroxine', 'query on thyroxine',
       'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH',
       'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',
       'FTI measured', 'FTI', 'TBG measured', 'TBG', 'referral source',
       'category'],
      dtype='object')

In [6]:
hyper_data['category'] = hyper_data['category'] \
                            .apply(parse_row) \
                            .apply(to_hyperthyroid)

hypo_data['category'] = hypo_data['category'] \
                            .apply(parse_row) \
                            .apply(to_hypothyroid)

sick_data['category'] = sick_data['category'] \
                            .apply(parse_row)

In [7]:
thyroid_frames = [hyper_data, hypo_data, sick_data]
thyroid_data = pd.concat(thyroid_frames) \
                 .drop_duplicates() \
                 .drop(['TBG', 'TBG measured'], axis=1)

In [8]:
classes = thyroid_data['category'].unique()

In [9]:
thyroid_data.shape

(3221, 28)

In [10]:
thyroid_data.isnull().sum()

age                          0
sex                          0
on thyroxine                 0
query on thyroxine           0
on antithyroid medication    0
sick                         0
pregnant                     0
thyroid surgery              0
I131 treatment               0
query hypothyroid            0
query hyperthyroid           0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH measured                 0
TSH                          0
T3 measured                  0
T3                           0
TT4 measured                 0
TT4                          0
T4U measured                 0
T4U                          0
FTI measured                 0
FTI                          0
referral source              0
category                     0
dtype: int64

In [11]:
print("Number of samples:", len(thyroid_data))

Number of samples: 3221

In [12]:
thyroid_data.head(5)

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,referral source,category
0,41,F,f,f,f,f,f,f,f,f,...,t,2.5,t,125,t,1.14,t,109,SVHC,negative
1,23,F,f,f,f,f,f,f,f,f,...,t,2,t,102,f,?,f,?,other,negative
2,46,M,f,f,f,f,f,f,f,f,...,f,?,t,109,t,0.91,t,120,other,negative
3,70,F,t,f,f,f,f,f,f,f,...,t,1.9,t,175,f,?,f,?,other,negative
4,70,F,f,f,f,f,f,f,f,f,...,t,1.2,t,61,t,0.87,t,70,SVI,negative

In [13]:
thyroid_data['referral source'].value_counts()

other    1795
SVI       994
SVHC      289
STMW      106
SVHD       37
Name: referral source, dtype: int64

In [14]:
thyroid_data['category'].value_counts()

negative        2753
hypothyroid      220
sick             171
hyperthyroid      77
Name: category, dtype: int64

In [15]:
thyroid_data.describe()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,referral source,category
count,3221,3221,3221,3221,3221,3221,3221,3221,3221,3221,...,3221,3221,3221,3221,3221,3221,3221,3221,3221,3221
unique,94,3,2,2,2,2,2,2,2,2,...,2,65,2,218,2,139,2,210,5,4
top,59,F,f,f,f,f,f,f,f,f,...,t,?,t,?,t,?,t,?,other,negative
freq,91,2108,2878,3173,3186,3080,3175,3180,3165,3010,...,2632,589,3079,142,2945,276,2947,274,1795,2753

#binary_cols=['age', 'sex', 'on thyroxine', 'query on thyroxine',
       'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH',
       'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',
       'FTI measured', 'FTI', 'category']
#for col in binary_cols: convert_category(thyroid_data, col)

In [16]:
thyroid_data.dtypes

age                          object
sex                          object
on thyroxine                 object
query on thyroxine           object
on antithyroid medication    object
sick                         object
pregnant                     object
thyroid surgery              object
I131 treatment               object
query hypothyroid            object
query hyperthyroid           object
lithium                      object
goitre                       object
tumor                        object
hypopituitary                object
psych                        object
TSH measured                 object
TSH                          object
T3 measured                  object
T3                           object
TT4 measured                 object
TT4                          object
T4U measured                 object
T4U                          object
FTI measured                 object
FTI                          object
referral source              object
category                     object
dtype: object

In [17]:
#replace the '?' values with numpy nan
for column in thyroid_data.columns:
    count=thyroid_data[column][thyroid_data[column]=='?'].count()
    if count != 0:
        print(column,thyroid_data[column][thyroid_data[column]=='?'].count())

age 1
sex 127
TSH 247
T3 589
TT4 142
T4U 276
FTI 274

In [18]:
for column in thyroid_data.columns:
    count=thyroid_data[column][thyroid_data[column]== '?'].count()
    if count!=0:
        thyroid_data[column]=thyroid_data[column].replace('?',np.nan)

In [19]:
for column in thyroid_data.columns:
    count=thyroid_data[column][thyroid_data[column]=='?'].count()
    if count == 0:
        print(column,thyroid_data[column][thyroid_data[column]=='?'].count())

age 0
sex 0
on thyroxine 0
query on thyroxine 0
on antithyroid medication 0
sick 0
pregnant 0
thyroid surgery 0
I131 treatment 0
query hypothyroid 0
query hyperthyroid 0
lithium 0
goitre 0
tumor 0
hypopituitary 0
psych 0
TSH measured 0
TSH 0
T3 measured 0
T3 0
TT4 measured 0
TT4 0
T4U measured 0
T4U 0
FTI measured 0
FTI 0
referral source 0
category 0

In [20]:
##  Unique Values
for column in thyroid_data.columns:
    print(column,(thyroid_data[column].unique()))

age ['41' '23' '46' '70' '18' '59' '80' '66' '68' '84' '67' '71' '28' '65'
 '42' '63' '51' '81' '54' '55' '60' '25' '73' '34' '78' '37' '85' '26'
 '58' '64' '44' '48' '61' '35' '83' '21' '87' '53' '77' '27' '69' '74'
 '38' '76' '45' '36' '22' '43' '72' '82' '31' '39' '49' '62' '57' '1' '50'
 '30' '29' '75' '19' '7' '79' '17' '24' '15' '32' '47' '16' '52' '33' '13'
 '10' '89' '56' '20' '90' '40' '88' '14' '86' '94' '12' '4' '11' '8' '5'
 '455' '2' '91' '6' nan '93' '92']
sex ['F' 'M' nan]
on thyroxine ['f' 't']
query on thyroxine ['f' 't']
on antithyroid medication ['f' 't']
sick ['f' 't']
pregnant ['f' 't']
thyroid surgery ['f' 't']
I131 treatment ['f' 't']
query hypothyroid ['f' 't']
query hyperthyroid ['f' 't']
lithium ['f' 't']
goitre ['f' 't']
tumor ['f' 't']
hypopituitary ['f' 't']
psych ['f' 't']
TSH measured ['t' 'f']
TSH ['1.3' '4.1' '0.98' '0.16' '0.72' '0.03' nan '2.2' '0.6' '2.4' '1.1' '2.8'
 '3.3' '12' '1.2' '1.5' '6' '2.1' '0.1' '0.8' '1.9' '3.1' '0.2' '13' '0.3'
 '0.035' '2.5' '0.5' '1.7' '7.3' '1.8' '0.26' '45' '5.4' '0.99' '0.25'
 '0.92' '0.15' '0.64' '1' '0.4' '2' '2.6' '14.8' '15' '19' '0.02' '3'
 '2.9' '3.2' '9' '1.6' '4.3' '0.005' '0.31' '0.61' '0.05' '7.8' '160'
 '0.025' '1.4' '0.01' '8.8' '151' '0.04' '3.9' '9.4' '2.7' '2.3' '0.94'
 '0.045' '3.5' '0.88' '0.08' '4.5' '0.68' '0.7' '0.67' '27' '6.1' '0.75'
 '0.55' '26' '5.2' '0.77' '0.07' '0.9' '11.4' '143' '0.45' '0.57' '0.65'
 '0.015' '16' '108' '0.83' '9.2' '86' '0.62' '0.59' '9.1' '5.9' '52'
 '0.33' '31' '5.8' '0.28' '51' '6.3' '4.4' '9.6' '3.4' '0.09' '24' '0.76'
 '42' '25' '10' '4.6' '8.6' '0.66' '6.2' '0.79' '28' '0.86' '9.7' '0.84'
 '17' '18' '55' '14' '3.7' '0.87' '6.7' '0.74' '7.6' '0.065' '0.29' '0.37'
 '8' '11' '0.48' '44' '7.9' '5' '7.2' '0.89' '0.93' '0.97' '0.12' '6.4'
 '33' '0.85' '7.1' '0.73' '199' '8.2' '188' '0.22' '98' '22' '6.6' '5.1'
 '0.06' '0.42' '3.8' '35' '4' '0.78' '0.63' '0.52' '60' '0.43' '5.6' '6.9'
 '3.6' '29' '0.38' '4.9' '0.41' '9.9' '7.5' '34' '6.5' '4.7' '103' '0.95'
 '0.14' '0.35' '4.2' '0.81' '0.54' '0.58' '8.9' '5.5' '0.34' '9.3' '0.13'
 '54' '0.39' '8.3' '478' '21' '6.8' '0.32' '0.23' '0.24' '8.1' '0.91'
 '5.3' '100' '0.27' '1.01' '58' '41' '183' '18.4' '0.47' '0.17' '12.1'
 '0.19' '0.82' '43' '0.44' '70' '7.7' '8.4' '0.69' '8.5' '0.21' '82'
 '0.055' '0.96' '0.71' '38' '0.36' '9.8' '7' '0.46' '11.1' '39' '76' '5.7'
 '32' '126' '26.4' '0.53' '0.49' '36' '178' '145' '47' '4.8' '10.3' '89'
 '7.4' '472' '0.51' '116' '61' '99' '46' '78' '468']
T3 measured ['t' 'f']
T3 ['2.5' '2' nan '1.9' '1.2' '0.6' '2.2' '1.6' '3.8' '1.7' '1.8' '2.6' '2.1'
 '0.3' '5.5' '1.4' '3.1' '1.5' '2.3' '2.4' '2.7' '0.9' '1' '2.8' '2.9'
 '0.8' '1.3' '0.4' '3.3' '3.5' '3.4' '1.1' '4.2' '3.7' '3' '0.7' '4.8'
 '4.3' '0.05' '3.2' '5.4' '4' '0.5' '0.2' '3.6' '5.2' '5' '6' '5.3' '3.9'
 '4.6' '4.5' '7.3' '4.7' '6.7' '4.1' '6.1' '0.1' '4.9' '10.6' '5.1' '7'
 '6.2' '4.4' '7.1']
TT4 measured ['t' 'f']
TT4 ['125' '102' '109' '175' '61' '183' '72' '80' '123' '83' '115' '152' '171'
 '97' '99' '70' '117' '121' '130' '108' '104' '134' '199' '57' '129' '113'
 '119' '84' '81' '95' '66' '101' '147' '120' '69' nan '39' '87' '63' '133'
 '86' '163' '162' '103' '96' '151' '112' '82' '138' '71' '77' '93' '107'
 '237' '110' '67' '88' '160' '118' '136' '114' '116' '94' '161' '11' '32'
 '124' '137' '92' '135' '105' '150' '126' '146' '91' '217' '141' '159'
 '122' '100' '111' '140' '205' '225' '85' '90' '74' '219' '127' '132'
 '128' '106' '144' '131' '56' '79' '142' '98' '177' '139' '78' '189' '180'
 '73' '145' '184' '38' '156' '75' '148' '14' '76' '54' '58' '27' '65'
 '193' '13' '143' '12' '64' '257' '164' '59' '167' '18' '41' '176' '37'
 '33' '44' '45' '154' '174' '203' '244' '62' '158' '60' '187' '250' '181'
 '157' '223' '272' '166' '213' '235' '10' '68' '231' '191' '48' '5.8'
 '169' '149' '210' '40' '155' '232' '42' '204' '430' '198' '230' '15'
 '170' '165' '47' '168' '194' '89' '52' '179' '192' '172' '4.8' '50' '182'
 '197' '214' '246' '196' '207' '19' '153' '22' '46' '200' '35' '226' '201'
 '233' '206' '31' '255' '178' '239' '195' '6' '36' '2' '3' '289' '240'
 '209' '43' '34' '252' '29' '263' '301' '23' '188' '211' '253' '21' '173']
T4U measured ['t' 'f']
T4U ['1.14' nan '0.91' '0.87' '1.3' '0.92' '0.7' '0.93' '0.89' '0.95' '0.99'
 '1.13' '0.86' '0.96' '0.94' '0.9' '1.02' '1.05' '0.62' '1.06' '1.55'
 '0.83' '1.09' '1.07' '1.27' '0.76' '1.16' '1' '0.56' '0.81' '0.68' '0.78'
 '0.85' '1.35' '1.15' '0.82' '1.03' '1.58' '0.79' '1.17' '0.71' '0.72'
 '0.88' '1.11' '1.2' '1.1' '1.33' '0.77' '1.24' '0.53' '1.44' '1.63'
 '1.51' '1.42' '1.23' '1.01' '0.98' '0.61' '1.12' '1.43' '1.25' '1.41'
 '1.68' '0.97' '0.84' '0.8' '1.04' '0.73' '1.08' '1.26' '1.46' '1.29'
 '1.34' '1.66' '1.21' '1.19' '0.75' '0.52' '1.83' '1.39' '1.5' '1.93'
 '1.18' '0.74' '0.58' '1.82' '0.6' '1.67' '1.22' '0.66' '0.67' '1.31'
 '0.54' '1.77' '1.59' '1.97' '1.69' '1.38' '1.28' '1.4' '0.69' '0.65'
 '1.74' '2.03' '1.73' '1.65' '1.36' '1.52' '0.57' '1.53' '1.84' '1.57'
 '1.75' '1.32' '1.37' '0.64' '1.79' '1.8' '0.48' '1.71' '1.62' '1.76'
 '1.56' '1.48' '0.59' '0.31' '1.94' '2.12' '1.47' '0.63' '0.944' '0.49'
 '1.88' '0.5' '0.38' '1.49' '0.41' '1.61' '1.7']
FTI measured ['t' 'f']
FTI ['109' nan '120' '70' '141' '78' '115' '132' '93' '121' '153' '151' '107'
 '119' '87' '81' '104' '130' '106' '116' '131' '190' '92' '102' '76' '98'
 '90' '61' '94' '129' '95' '91' '33' '113' '148' '140' '171' '155' '186'
 '122' '136' '110' '111' '97' '72' '100' '88' '67' '84' '103' '135' '203'
 '112' '117' '180' '142' '145' '156' '96' '134' '8.9' '60' '139' '41' '99'
 '89' '146' '124' '105' '85' '157' '143' '71' '221' '28' '108' '137' '83'
 '74' '170' '65' '101' '127' '274' '154' '114' '62' '86' '126' '125' '64'
 '172' '162' '79' '118' '73' '152' '163' '149' '14' '51' '165' '77' '32'
 '69' '80' '11' '54' '164' '123' '144' '10' '214' '200' '160' '53' '16'
 '138' '169' '56' '47' '133' '43' '68' '179' '224' '220' '82' '362' '182'
 '75' '66' '161' '57' '58' '312' '63' '128' '147' '158' '281' '207' '216'
 '251' '194' '46' '7' '42' '174' '395' '185' '13' '201' '48' '173' '167'
 '188' '150' '235' '175' '159' '5.4' '189' '59' '166' '34' '228' '232'
 '217' '177' '176' '195' '219' '17' '210' '168' '205' '39' '187' '50'
 '349' '52' '206' '253' '242' '244' '213' '178' '247' '215' '198' '19'
 '237' '37' '7.6' '24' '2' '3' '191' '223' '9' '29' '222' '204' '26' '218'
 '197' '49' '209' '183']
referral source ['SVHC' 'other' 'SVI' 'STMW' 'SVHD']
category ['negative' 'hyperthyroid' 'hypothyroid' 'sick']

In [21]:
thyroid_data['age'].fillna((thyroid_data['age'].median()), inplace = True)
thyroid_data['TSH'].fillna((thyroid_data['TSH'].median()), inplace = True)
thyroid_data['T3'].fillna((thyroid_data['T3'].median()), inplace = True)
thyroid_data['TT4'].fillna((thyroid_data['TT4'].median()), inplace = True)
thyroid_data['T4U'].fillna((thyroid_data['T4U'].median()), inplace = True)
thyroid_data['FTI'].fillna((thyroid_data['FTI'].median()), inplace = True)

In [22]:
# A quick fix needed
thyroid_data.loc[thyroid_data['age'] == '455', 'age'] = '45'

In [23]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [24]:
age = thyroid_data[["age"]]
age = pd.get_dummies(age, drop_first= True)

In [26]:
thyroid_data['sex'] = le.fit_transform(thyroid_data["sex"])

In [27]:
thyroid_data['on thyroxine'] = le.fit_transform(thyroid_data["on thyroxine"])

In [28]:
thyroid_data['query on thyroxine'] = le.fit_transform(thyroid_data["query on thyroxine"])

In [29]:
thyroid_data['on antithyroid medication'] = le.fit_transform(thyroid_data["on antithyroid medication"])

In [30]:
thyroid_data['sick'] = le.fit_transform(thyroid_data["sick"])

In [31]:
thyroid_data['pregnant'] = le.fit_transform(thyroid_data["pregnant"])

In [32]:
thyroid_data['thyroid surgery'] = le.fit_transform(thyroid_data["thyroid surgery"])

In [33]:
thyroid_data['I131 treatment'] = le.fit_transform(thyroid_data["I131 treatment"])

In [34]:
thyroid_data['query hypothyroid'] = le.fit_transform(thyroid_data["query hypothyroid"])

In [35]:
thyroid_data['query hyperthyroid'] = le.fit_transform(thyroid_data["query hyperthyroid"])

In [36]:
thyroid_data['lithium'] = le.fit_transform(thyroid_data["lithium"])

In [37]:
thyroid_data['goitre'] = le.fit_transform(thyroid_data["goitre"])

In [38]:
thyroid_data['tumor'] = le.fit_transform(thyroid_data["tumor"])

In [39]:
thyroid_data['hypopituitary'] = le.fit_transform(thyroid_data["hypopituitary"])

In [40]:
thyroid_data['psych'] = le.fit_transform(thyroid_data["psych"])

In [41]:
thyroid_data['TSH measured'] = le.fit_transform(thyroid_data["TSH measured"])

In [42]:
thyroid_data['TSH'] = le.fit_transform(thyroid_data["TSH"])

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['float64', 'str']

In [43]:
thyroid_data['T3 measured'] = le.fit_transform(thyroid_data["T3 measured"])

In [ ]:
thyroid_data['T3'] = le.fit_transform(thyroid_data["T3"])

In [ ]:
thyroid_data['TT4 measured'] = le.fit_transform(thyroid_data["TT4 measured"])

In [ ]:
thyroid_data['TT4'] = le.fit_transform(thyroid_data["TT4"])

In [ ]:
thyroid_data['T4U measured'] = le.fit_transform(thyroid_data["T4U measured"])

In [ ]:
thyroid_data['T4U'] = le.fit_transform(thyroid_data["T4U"])

In [ ]:
thyroid_data['FTI measured'] = le.fit_transform(thyroid_data["FTI measured"])

In [ ]:
thyroid_data['FTI'] = le.fit_transform(thyroid_data["FTI"])

In [ ]:
thyroid_data['referral source'] = le.fit_transform(thyroid_data["referral source"])

In [ ]:
thyroid_data['category'] = le.fit_transform(thyroid_data["category"])

In [44]:
thyroid_data.dtypes

age                          object
sex                           int32
on thyroxine                  int32
query on thyroxine            int32
on antithyroid medication     int32
sick                          int32
pregnant                      int32
thyroid surgery               int32
I131 treatment                int32
query hypothyroid             int32
query hyperthyroid            int32
lithium                       int32
goitre                        int32
tumor                         int32
hypopituitary                 int32
psych                         int32
TSH measured                  int32
TSH                          object
T3 measured                   int32
T3                           object
TT4 measured                 object
TT4                          object
T4U measured                 object
T4U                          object
FTI measured                 object
FTI                          object
referral source              object
category                     object
dtype: object

In [ ]:
thyroid_data.head()

In [ ]:
thyroid_data.hist(bins=50,figsize=(20,15))

In [ ]:
x = thyroid_data.drop("category",axis=1)
y = thyroid_data["category"]

In [ ]:
sns.countplot(thyroid_data['category'])

In [ ]:
from imblearn.over_sampling import SMOTENC,RandomOverSampler,KMeansSMOTE


rdsmple=RandomOverSampler()
x_sampled,y_sampled=rdsmple.fit_resample(x,y)

x_sampled.shape


x_sampled=pd.DataFrame(data=x_sampled,columns=x.columns)


x_sampled


sns.countplot(y_sampled)


x_sampled.columns

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x, y,test_size=0.25, random_state=42)
x_train.shape,x_test.shape

In [ ]:
x_train.corr()

In [ ]:
#using pearson correlation
plt.figure(figsize=(27,27))
corr = x_train.iloc[:,:-1].corr()
top_features=corr.index
sns.heatmap(corr, annot=True, cmap=plt.cm.cool)
plt.show()

In [ ]:
#find and remove correlated features
def correlation(dataset,threshold):
  col_corr = set()    #set of all the names of correlated columns
  corr_matrix = dataset.corr()
  for i in range(len(corr_matrix.columns)):
    for j in range(i):
      if (corr_matrix.iloc[i,j]) > threshold: #we are interested in absolute correlated value
        colname = corr_matrix.columns[i] #getting the names of columns
        col_corr.add(colname)
  return col_corr

In [ ]:
cor_features = correlation(x_train, 0.8)
len(set(cor_features))

In [ ]:
cor_features

# Univariate Selection

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [ ]:
ordered_rank_features = SelectKBest(score_func=chi2,k=26)
ordered_features=ordered_rank_features.fit(x_train,y_train)

In [ ]:
dfscore=pd.DataFrame(ordered_features.scores_,columns=['score'])
dfcolumns=pd.DataFrame(x_train.columns)

In [ ]:
features_rank=pd.concat([dfcolumns,dfscore],axis=1)

In [ ]:
features_rank.columns=['features','score']
features_rank

In [ ]:
features_rank.nlargest(27,'score')

In [ ]:
col_to_drop=["query on thyroxine","on antithyroid medication","thyroid surgery","I131 treatment","lithium","goitre","hypopituitary","psych","TSH measured","T3 measured","TT4 measured","T4U measured","FTI measured"]

In [ ]:
x_train=x_train.drop(col_to_drop,axis=1)
x_test=x_test.drop(col_to_drop,axis=1)

In [ ]:
x_train.head()

In [ ]:
x_train.shape,x_test.shape

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)
scaled_train = scaler.transform(x_train)
scaler.fit(x_test)
scaled_test = scaler.transform(x_test)

In [ ]:
scaled_train

# SVM

In [ ]:
from sklearn.svm import SVC

from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix

svc = SVC(kernel="linear")
svc.fit(scaled_train,y_train)

In [ ]:
y_pred=svc.predict(scaled_test)
accuracy_score(y_test,y_pred)

In [ ]:
confusion_matrix(y_test,y_pred)

In [ ]:
matrix = plot_confusion_matrix(svc,scaled_test,y_test,cmap=plt.cm.Reds)
matrix.ax_.set_title('confusion Matrix', color='white')
plt.xlabel('Predicted Label', color='white')
plt.ylabel('True Label', color='white')
plt.show()

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

In [ ]:
svc = SVC(kernel="sigmoid")
svc.fit(scaled_train,y_train)

In [ ]:
y_pred=svc.predict(scaled_test)

accuracy_score(y_test,y_pred)

In [ ]:
confusion_matrix(y_test,y_pred)

In [ ]:
matrix = plot_confusion_matrix(svc,scaled_test,y_test,cmap=plt.cm.Reds)
matrix.ax_.set_title('confusion Matrix', color='white')
plt.xlabel('Predicted Label', color='white')
plt.ylabel('True Label', color='white')
plt.show()

In [ ]:
print(classification_report(y_test,y_pred))

In [ ]:
svc = SVC(kernel="rbf")
svc.fit(scaled_train,y_train)

In [ ]:
y_pred=svc.predict(scaled_test)
accuracy_score(y_test,y_pred)

In [ ]:
confusion_matrix(y_test,y_pred)

In [ ]:
matrix = plot_confusion_matrix(svc,scaled_test,y_test,cmap=plt.cm.Reds)
matrix.ax_.set_title('confusion Matrix', color='white')
plt.xlabel('Predicted Label', color='white')
plt.ylabel('True Label', color='white')
plt.show()

In [ ]:
print(classification_report(y_test,y_pred))

In [ ]:
svc = SVC(kernel="poly")
svc.fit(scaled_train,y_train)

In [ ]:
y_pred=svc.predict(scaled_test)
accuracy_score(y_test,y_pred)

In [ ]:
confusion_matrix(y_test,y_pred)

In [ ]:
matrix = plot_confusion_matrix(svc,scaled_test,y_test,cmap=plt.cm.Reds)
matrix.ax_.set_title('confusion Matrix', color='white')
plt.xlabel('Predicted Label', color='white')
plt.ylabel('True Label', color='white')
plt.show()

In [ ]:
print(classification_report(y_test,y_pred))

KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)

In [ ]:
knn.fit(scaled_train,y_train)
y_pred=knn.predict(scaled_test)
accuracy_score(y_test,y_pred)

In [ ]:
confusion_matrix(y_test,y_pred)

In [ ]:
matrix = plot_confusion_matrix(knn,scaled_test,y_test,cmap=plt.cm.Reds)
matrix.ax_.set_title('confusion Matrix', color='white')
plt.xlabel('Predicted Label', color='white')
plt.ylabel('True Label', color='white')
plt.show()

In [ ]:
print(classification_report(y_test,y_pred))

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier(n_estimators=10)
gb.fit(scaled_train,y_train)
y_pred=gb.predict(scaled_test)
accuracy_score(y_test,y_pred)

In [ ]:
confusion_matrix(y_test,y_pred)

In [ ]:
matrix = plot_confusion_matrix(gb,scaled_test,y_test,cmap=plt.cm.Reds)
matrix.ax_.set_title('confusion Matrix', color='white')
plt.xlabel('Predicted Label', color='white')
plt.ylabel('True Label', color='white')
plt.show()

#Decision Tree

In [ ]:
from sklearn import tree
dt = tree.DecisionTreeClassifier()
dt.fit(scaled_train,y_train)
y_pred=dt.predict(scaled_test)
accuracy_score(y_test,y_pred)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [ ]:
rf.fit(scaled_train,y_train)
y_pred=rf.predict(scaled_test)
accuracy_score(y_test,y_pred)

In [ ]:
confusion_matrix(y_test,y_pred)

In [ ]:
matrix = plot_confusion_matrix(rf,scaled_test,y_test,cmap=plt.cm.Reds)
matrix.ax_.set_title('confusion Matrix', color='white')
plt.xlabel('Predicted Label', color='white')
plt.ylabel('True Label', color='white')
plt.show()

In [ ]:
classifier_forest = RandomForestClassifier(criterion = 'entropy')
classifier_forest.fit(x_train,y_train)
y_pred = classifier_forest.predict(scaled_test)

print(f'Train Score:{classifier_forest.score(x_train,y_train)}\n Test Score:{classifier_forest.score(x_test,y_test)}')

In [ ]:
accuracy_score(y_test,y_pred)